# Data Science Tools and Ecosystem

### This notebook contains a breif description of Data Science Tools and its Ecosystem.

**Objectives**
- Popular languages of Data Science.
- Common libraries of Data Science.
- Three Development environment of Data Science. 
- Examples of arithmetic operations.

#### Some of the popular lanuages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Java.
5. C++.
6. Scala.
7. JavaScript.
8. Julia.

#### Some of the commonly used libraries used by Data Scientists include: 
1. Python
    1. Pandas
    2. NumPy
    3. SciPy
    4. Matplotlib
    5. Scikit-learn
    6. TensorFlow
2. R
    1. ggplot
    2. dplyr
    3. Caret

| Data Science Tools  |
|---------------------|
|  JupyterLab  |
|  JupyterLite  |
| VS Code |
| R Studio|
| Google Colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python.

#### This a simple arithmetic expression to mutiply then add integers.

In [5]:
(3*4)+5

17

#### This following expression will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Ruby Sharma